.book-circle {
	position: relative;
	color: #8CBFDC;
	
}  

.card-width{ 
    width: 80%;
}

.col{
    display: flex;
    justify-content: center !important;
} 

.embed-responsive .card-img{
    object-fit: cover;
}