.list{
    background-color: white;
    width: 85%;
    margin: 0 auto ;
    border-radius: 5px;
    -webkit-box-shadow:0px 1px 1px #000000;
    -moz-box-shadow:0px 1px 1px #000000;
    box-shadow: 4px 14px 40px -11px rgba(0,0,0,0.95);
    border-bottom: solid 1px #8CBFDC;
    border-right: solid 1px #8CBFDC;
    margin-bottom: 20%;
} 

title{
    position: absolute;
    top: 20px !important;
}

h3{
    color: #484e53;
    font-weight: bold;
    font-style:oblique;
    font-size:xx-large;
} 

h5{ 
    color: #2d78c4; 
    text-decoration: underline;
}

.agg{ 
    color: #fff;
	background-color: #8CBFDC;
    border: 2px solid #85b9d6;
}

input{
    margin-left: -12px;
    width: 50%;
}

i{
    cursor: pointer;
    
}

h5{ 
    margin-top: 5px;
}

th{
    font-size:medium;
} 


@media screen and (min-width: 280px) and (max-width: 1185px)  {
    .tabla {
        width:100%;
       
    }
    
}

